@page
@model ProductManagement.Pages.Historico.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].Fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].OrdemProducao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].Defeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Producao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemProducao.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defeito.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
