@page
@model ProductManagement.Pages.OrdemProducao.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].OrdemProducao.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].OrdemProducao.Sola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].Defeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao[0].Estado)
            </th>
            <th>Histórico</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Producao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemProducao.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemProducao.Sola.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defeito.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Id)
            </td>
            <td>
                <a asp-area="" asp-page="/Historico/Index" asp-route-id="@item.Id">Ver</a>
            </td>
        </tr>
}
    </tbody>
</table>
