@page
@model ProductManagement.Pages.Producao.IndexModel

@{
    ViewData["Title"] = "Details";
}

<div class="pb-2 mt-4 mb-4">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>@ViewData["ParName"] Tamanho @ViewData["ParSize"]</h2>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            <h2>
                <a asp-page="../Index" class="back_icon"><i class="far fa-arrow-alt-circle-left"></i></a>
            </h2>
        </div>
    </div>
</div>

<div class="pb-2 mt-4 mb-4">
    <div class="d-flex justify-content-between">
        <div class="text-center">
            <h2>@ViewData["TemperaturaSensor"]</h2>
            <p>Temperatura</p>
        </div>
        <div class="text-center">
            <h2>@ViewData["PressaoSensor"]</h2>
            <p>Pressão</p>
        </div>
        <div class="text-center">
            <h2>@ViewData["VelocidadeInjecaoSensor"]</h2>
            <p>Velocidade de Injeção</p>
        </div>
        <div class="text-center">
            <h2>@ViewData["VelocidadeCarregamentoSensor"]</h2>
            <p>Velocidade de carregamento</p>
        </div>
    </div>

    <div class="productionCounter d-flex justify-content-start">
        <div class="text-center">
            <h1>@(Model.Producao.Fim - Model.Producao.Inicio)</h1>
            <p>Tempo de produção</p>
        </div>
    </div>
    <form method="post">
        <input class="btn btn-sm btn-primary" type="submit" asp-page-handler="Pausa" value="Pausa">
    </form>
    <div class="d-flex flex-wrap justify-content-between productionBottomContainer">
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Producao.Id" />

                <div class="form-group">
                    <select class="form-control-sm" asp-for="Producao.Tipo">
                        <option value="Par">Par</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                    </select>

                    <select class="form-control-sm" asp-for="Producao.DefeitoId" asp-items="ViewBag.DefeitoId"></select>
                    <span asp-validation-for="Producao.DefeitoId" class="text-danger"></span>

                    <input class="btn btn-sm btn-dark" type="submit" asp-page-handler="Defeito" value="Adicionar Defeito" />
                </div>
            </form>
        </div>
        <div class="productionNavigation">
            <a asp-area="" asp-page="" asp-route-prodId="@(HttpContext.Request.Query["prodId"].ToString())" asp-route-parId="@TempData["backPar"]">
                <i class="fas fa-arrow-circle-left icon_navigation"></i>
            </a>
            <span>
                P00@(HttpContext.Request.Query["parId"].ToString())
            </span>
            <a asp-area="" asp-page="" asp-route-prodId="@(HttpContext.Request.Query["prodId"].ToString())" asp-route-parId="@TempData["nextPar"]">
                <i class="fas fa-arrow-circle-right icon_navigation"></i>
            </a>
        </div>
    </div>
</div>
