@page "{searchString?}"
@model IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="pb-2 mt-4 mb-4">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Ordens de Produção</h2>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            <form>
                <div class="form-group input-group search-group">
                    <input class="form-control form-control-sm" placeholder="Pesquisar..." type="text" asp-for="SearchString">
                    <input class="btn btn-sm btn-dark" type="submit" value="Pesquisar">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-blue">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrdemProducao[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdemProducao[0].Sola)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdemProducao[0].Maquina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdemProducao[0].OperadorId)
                </th>
                <th>Histórico</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrdemProducao)
            {
                <tr ondblclick="redirect(@item.Id)">
                    <td>
                        @("OP00" + item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sola.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maquina.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Operador.Nome)
                    </td>
                    <td>
                        <a asp-area="" asp-page="/Historico/Index" asp-route-id="@item.Id">Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function redirect(prodId) {
        location.href = "/Par?prodId=" + prodId + "&parId=1";
    }
</script>
